openapi: 3.0.0
servers:
  - url: https://starmedica-sandbox.globant.com/patients/1.0.0
    description: Sandbox dummy server (uses test data)
  - url: https://starmedica.globant.com/patients/1.0.0
    description: Production dummy server (uses live data)
info:
  description: API for Patients
  version: "1.0.0"
  title: Patients
  contact:
    email: you@your-company.com
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: Patients
    description: Operations available to handle patients information
  - name: Episodes
    description: Operations available to handle patient's episodes
  - name: Studies
    description: Operations available to handle episode's estudies
paths:
  /patients/{mpid}:
    get:
      tags:
        - Patients
      summary: Gets a patient
      operationId: getPatient
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      parameters:
        - name: mpid
          in: path
          required: true
          description: Master Patient Id
          schema:
            type: string
      responses:
        "200":
          description: Patient retrieved successfully
          content:
            application/json:
              schema:
                $ref: "./starmedica-components.yml#/components/schemas/Patient"
        "400":
          $ref: "./starmedica-components.yml#/components/responses/400"
        "401":
          $ref: "./starmedica-components.yml#/components/responses/401"
        "403":
          $ref: "./starmedica-components.yml#/components/responses/403"
        "404":
          $ref: "./starmedica-components.yml#/components/responses/404"
        "500":
          $ref: "./starmedica-components.yml#/components/responses/500"
  /patients/{mpid}/episodes:
    get:
      tags:
        - Episodes
      summary: Gets a patients episodes
      operationId: getPatientEpisodes
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      parameters:
        - name: mpid
          in: path
          required: true
          description: Master Patient Id
          schema:
            type: string
      responses:
        "200":
          description: Patient episodes retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./starmedica-components.yml#/components/schemas/Episode"
        "400":
          $ref: "./starmedica-components.yml#/components/responses/400"
        "401":
          $ref: "./starmedica-components.yml#/components/responses/401"
        "403":
          $ref: "./starmedica-components.yml#/components/responses/403"
        "404":
          $ref: "./starmedica-components.yml#/components/responses/404"
        "500":
          $ref: "./starmedica-components.yml#/components/responses/500"
  /episodes/{episodeId}/studies:
    get:
      tags:
        - Studies
      summary: Gets a patients episode studies
      operationId: getPatientEpisodesStudies
      description: |
        By passing in the appropriate options, you can search for
        available inventory in the system
      parameters:
        - name: episodeId
          in: path
          required: true
          description: Patient Episode Id
          schema:
            type: string
        - name: type
          in: query
          required: true
          description: Type of study lab or imaging (L/I)
          schema:
            type: string
            description: Type of study lab or imaging (L/I)
            maxLength: 1
            example: "L"
      responses:
        "200":
          description: Patient episodes retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "./starmedica-components.yml#/components/schemas/Study"
        "400":
          $ref: "./starmedica-components.yml#/components/responses/400"
        "401":
          $ref: "./starmedica-components.yml#/components/responses/401"
        "403":
          $ref: "./starmedica-components.yml#/components/responses/403"
        "404":
          $ref: "./starmedica-components.yml#/components/responses/404"
        "500":
          $ref: "./starmedica-components.yml#/components/responses/500"
