openapi: 3.0.0
servers:
  - url: https://starmedica-sandbox.globant.com/doctors/1.0.0
    description: Sandbox dummy server (uses test data)
  - url: https://starmedica.globant.com/doctors/1.0.0
    description: Production dummy server (uses live data)
info:
  description: API for Pre Discharges
  version: 1.0.0
  title: Catalogs
  contact:
    email: diego.matus@globant.com
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: Catalogs
    description: Operations available to handle catalog information
paths:
  /catalogs/{id}:
    get:
      tags:
        - Catalogs
      summary: Get catalog information by ID
      operationId: getCatalogById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the catalog entry to retrieve
          schema:
            type: string
      responses:
        "200":
          description: Catalog entry retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogResponse"
        "400":
          $ref: "./starmedica-components.yml#/components/responses/400"
        "401":
          $ref: "./starmedica-components.yml#/components/responses/401"
        "403":
          $ref: "./starmedica-components.yml#/components/responses/403"
        "404":
          $ref: "./starmedica-components.yml#/components/responses/404"
        "500":
          $ref: "./starmedica-components.yml#/components/responses/500"
components:
   schemas:
    CatalogItem:
      type: object
      properties:
        id:
          type: string
          description: ID of the catalog item
          example: "1234"
        name:
          type: string
          description: Name of the catalog item
          example: "Catalog Item Name"
        description:
          type: string
          description: Description of the catalog item
          example: "Description of the catalog item"
        category:
          type: string
          description: Category of the catalog item
          example: "Category A" 
        availability:
          type: boolean
          description: Availability of the catalog item
          example: true
        image:
          type: string
          nullable: true
          description: URL of the catalog item image
          example: "https://example.com/image.jpg"
    CatalogResponse:
      type: object
      properties:
        items:
          type: array
          description: List of catalog items
          items:
            $ref: "#/components/schemas/CatalogItem"

